@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #566573;
    --primary-color-darker: #404a53;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

.container {
    margin: 50px auto;
    max-width: 640px;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

.container h1 {
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin-bottom: 30px;
}

th {
    text-align: left;
}

form input, form label,form button {
    display: block;
    width: 100%;
}

form input {
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 16px;
}

form button {
    height: 40px;
    color: white;
    background: var(--primary-color);
    border: 1px solid transparent;
    cursor: pointer;
    margin-bottom: 16px;
}

form button:hover {
    color: white;
    background: var(--primary-color-darker);
}
